.productCard{
    border: solid 2px pink;
    background-color: palevioletred;
}
.productCard div {
    margin-top: 20px;
    width: 70%;
    
    justify-self: center;
    font-size: larger;
    
}

.productCard div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.productCard p {
    font-size: 2vw;
    justify-self: center;
}