.productCard {
    background-color: var(--card-bg);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--shadow);
    transition: var(--transition);
    overflow: hidden;
    height: 100%;
    border: 1px solid #fce4ec;
}
.productCard:hover {
    transform: translateY(-8px);
    box-shadow: var(--shadow-hover);
    border-color: var(--primary-light);
}
.productCard div {
    width: 100%;
    padding: 20px;
    background-color: var(--bg);
}
.productCard div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 8px;
    mix-blend-mode: multiply;
}
.productCard p {
    font-size: 1.1rem;
    padding: 0 15px;
    margin: 10px 0;
    color: var(--text-main);
    font-weight: 500;
}
.productCard p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-dark);
    margin-top: auto;
}
.productCard button {
    align-self: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 25px;
    margin-bottom: 20px;
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}
.productCard button:hover {
    background: var(--primary-dark);
}
