.productCard{
    border: solid 2px pink;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    text-align: center;

}

.productCard:hover{
    transform: scale(1.08);
    box-shadow: 0 2px 12px 0 #ffb6d5aa;
    transition: transform 0.2s, box-shadow 0.2s;
}
.productCard div {
    
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    justify-self: center;

    
    
}

.productCard div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
    
}
.productCard p {
    font-size: 2vw;
    justify-self: center;
    flex:1
}

.productCard p:nth-child(2) {
    flex: 2
}
.productCard button{
    align-self: center;
    border-radius: 5px;
    font-size: 2vh;
    margin-bottom: 5px;
}
