.container{
    display: flex;
    flex-direction: row;
    
    height: 10vh;
    
    
    font-size: 2vw;

    gap: 10px;
    
    
}
.container img{
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 100%;
}

.container p{
    flex: 1;
    text-align: center;
}

.container div{
    flex: 1;
    font-size: 2vw;
    text-align: center;
}

.eliminar {
    background-color: red;
}

.eliminar:hover{
  transform: translateY(-5px) scale(1.02); /* Sube 5px y crece un 2% */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Sombra más profunda */
  cursor: pointer;
}