.container{
    display: flex;
    flex-direction: row;
    
    height: 10vh;
    
    
    font-size: 2vw;

    gap: 10px;
    
    
}
.container img{
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 100%;
}

.container p{
    flex: 1;
    text-align: center;
}

.container div{
    flex: 1;
    font-size: 2vw;
    text-align: center;
}

