.filter{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin-top: 50px;
    background-color: palevioletred;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 20%;
    margin-left: 2vw;
}
.filter p {
font-size: 2vw;
}

.precio_maximo{
    width: 80%;
    margin-top: 1vh;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    
}   
.precio_maximo p{
    
    text-align: center;
}

.lista {
    font-size: 2vw;
    list-style: none;
    cursor: pointer;
    
}

.titulo_lista{
    font-size: 2vw;
    
}