.container{
    display: flex;
    
   
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 5vw;
    align-items: center;
    margin-top: 10px;
}


footer p{
    
    font-size: 2vw;

}

.contacto{
    margin-right: 30px;
}
.inicio{
    margin-right: 10px;
}