.ProductsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    
    border: solid 2px pink;
    gap: 5px;
    
    margin-top: 50px;
}

.buttons{
    display: flex;
    justify-self: center;
    gap: 10px;
    margin-top: 10px;
    
}
a{
    display: flex;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
