div{
    font-size: 5vw;
}

.header {
    display: grid;
    grid-template-columns: 150px min-content auto 100px 180px ;
    grid-template-rows: auto auto;
    gap:5px;
    
    
}
.logo{
    
    grid-row-start: 1;
    grid-row-end: 3;
    
   
     
}
.logo img{
    width: 100%; 
   
    
    
}
.searcher{
    border: 1px solid red;
    background: blue;
    grid-column-start: 2;
    grid-column-end: 4; 
}

.home_button{
    border: 1px solid red;
    background: green;
    grid-column-start: 2;
    
     
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 30%;
    
}

.product_button{
    
    
    grid-column-start: 3;
    grid-column-end: 4; 
     border-radius: 30%;

}

.shopping_cart{
    display: flex;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid;
    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: 5;
     
    grid-row-start: 1;
    grid-row-end: 3;
    
    align-self: center;
    
    
   
    
    
}
.shopping_cart img{
    width: 100%;
    
}

.login{
    border-radius: 50%;
    display: flex;
    border: 1px solid orange;
    background: pink;
    grid-column-start: 5;
    grid-column-end: 6;
    
     
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    
}

